@inject HttpClient Client

@if (IsComplete())
{
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <CascadingValue Value="Abilities!" Name="@nameof(Abilities)">
                <CascadingValue Value="EvolveData!" Name="@nameof(EvolveData)">
                    <CascadingValue Value="ExpGrid!" Name="@nameof(ExpGrid)">
                        <CascadingValue Value="Feats!" Name="@nameof(Feats)">
                            <CascadingValue Value="FilterData!" Name="@nameof(FilterData)">
                                <CascadingValue Value="Genders!" Name="@nameof(Genders)">
                                    <CascadingValue Value="Habitats!" Name="@nameof(Habitats)">
                                        <CascadingValue Value="Items!" Name="@nameof(Items)">
                                            <CascadingValue Value="LevelingData!" Name="@nameof(LevelingData)">
                                                <CascadingValue Value="MoveMachines!" Name="@nameof(MoveMachines)">
                                                    <CascadingValue Value="Moves!" Name="@nameof(Moves)">
                                                        <CascadingValue Value="Natures!" Name="@nameof(Natures)">
                                                            <CascadingValue Value="PokedexExtras!" Name="@nameof(PokedexExtras)">
                                                                <CascadingValue Value="Pokemon!" Name="@nameof(Pokemon)">
                                                                    <CascadingValue Value="TrainerClasses!" Name="@nameof(TrainerClasses)">
                                                                        <CascadingValue Value="Variants!" Name="@nameof(Variants)">
                                                                            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                                                                            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
                                                                        </CascadingValue>
                                                                    </CascadingValue>
                                                                </CascadingValue>
                                                            </CascadingValue>
                                                        </CascadingValue>
                                                    </CascadingValue>
                                                </CascadingValue>
                                            </CascadingValue>
                                        </CascadingValue>
                                    </CascadingValue>
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
}
else
{
    <div class="container">
        <table class="table table-bordered table-striped">
            <tbody>
            <LoadingTableRow Name="Abilities" Data="Abilities"></LoadingTableRow>
            <LoadingTableRow Name="Evolve Data" Data="EvolveData"></LoadingTableRow>
            <LoadingTableRow Name="Exp Grid" Data="ExpGrid"></LoadingTableRow>
            <LoadingTableRow Name="Feats" Data="Feats"></LoadingTableRow>
            <LoadingTableRow Name="Filter Data" Data="FilterData"></LoadingTableRow>
            <LoadingTableRow Name="Genders" Data="Genders"></LoadingTableRow>
            <LoadingTableRow Name="Habitats" Data="Habitats"></LoadingTableRow>
            <LoadingTableRow Name="Items" Data="Items"></LoadingTableRow>
            <LoadingTableRow Name="Leveling Data" Data="LevelingData"></LoadingTableRow>
            <LoadingTableRow Name="TMs" Data="MoveMachines"></LoadingTableRow>
            <LoadingTableRow Name="Moves" Data="Moves"></LoadingTableRow>
            <LoadingTableRow Name="Natures" Data="Natures"></LoadingTableRow>
            <LoadingTableRow Name="Pokedex Extras" Data="PokedexExtras"></LoadingTableRow>
            <LoadingTableRow Name="Pokemon" Data="Pokemon"></LoadingTableRow>
            <LoadingTableRow Name="Trainer Classes" Data="TrainerClasses"></LoadingTableRow>
            <LoadingTableRow Name="Variants" Data="Variants"></LoadingTableRow>
            </tbody>
        </table>
    </div>
}

@code
{
    public Dictionary<string, PokemonJsonAbility>? Abilities;
    public Dictionary<string, PokemonJsonEvolve>? EvolveData;
    public Dictionary<string, Dictionary<string, int>>? ExpGrid;
    public Dictionary<string, PokemonJsonFeat>? Feats;
    public Dictionary<string, PokemonFilterData>? FilterData;
    public Dictionary<string, PokemonGender>? Genders;
    public Dictionary<string, List<string>>? Habitats;
    public Dictionary<string, PokemonJsonItem>? Items;
    public Dictionary<string, PokemonJsonLeveling>? LevelingData;
    public Dictionary<string, string>? MoveMachines;
    public Dictionary<string, PokemonMoveData>? Moves;
    public Dictionary<string, Dictionary<string, int>>? Natures;
    public Dictionary<string, PokemonJsonPokedexExtra>? PokedexExtras;
    public Dictionary<string, PokemonPokemonData>? Pokemon;
    public Dictionary<string, List<string>>? TrainerClasses;
    public Dictionary<string, List<string>>? Variants;

    private bool IsComplete() => Abilities != null && EvolveData != null && ExpGrid != null && Feats != null && FilterData != null
                                 && Genders != null && Habitats != null && Items != null && LevelingData != null && MoveMachines != null
                                 && Moves != null && Natures != null && PokedexExtras != null && Pokemon != null && TrainerClasses != null && Variants != null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Abilities = await Client.GetFromJsonAsync<Dictionary<string, PokemonJsonAbility>>("DataFiles/abilities.json");
        EvolveData = await Client.GetFromJsonAsync<Dictionary<string, PokemonJsonEvolve>>("DataFiles/evolve.json");
        ExpGrid = await Client.GetFromJsonAsync<Dictionary<string, Dictionary<string, int>>>("DataFiles/exp_grid.json");
        Feats = await Client.GetFromJsonAsync<Dictionary<string, PokemonJsonFeat>>("DataFiles/feats.json");
        FilterData = await Client.GetFromJsonAsync<Dictionary<string, PokemonFilterData>>("DataFiles/filter_data.json");
        Genders = await Client.GetFromJsonAsync<Dictionary<string, PokemonGender>>("DataFiles/gender.json");
        Habitats = await Client.GetFromJsonAsync<Dictionary<string, List<string>>>("DataFiles/habitat.json");
        Items = await Client.GetFromJsonAsync<Dictionary<string, PokemonJsonItem>>("DataFiles/items.json");
        LevelingData = await Client.GetFromJsonAsync<Dictionary<string, PokemonJsonLeveling>>("DataFiles/leveling.json");
        MoveMachines = await Client.GetFromJsonAsync<Dictionary<string, string>>("DataFiles/move_machines.json");
        Moves = await Client.GetFromJsonAsync<Dictionary<string, PokemonMoveData>>("DataFiles/moves.json");
        Natures = await Client.GetFromJsonAsync<Dictionary<string, Dictionary<string, int>>>("DataFiles/natures.json");
        PokedexExtras = await Client.GetFromJsonAsync<Dictionary<string, PokemonJsonPokedexExtra>>("DataFiles/pokedex_extra.json");
        Pokemon = await Client.GetFromJsonAsync<Dictionary<string, PokemonPokemonData>>("DataFiles/pokemon.json");
        TrainerClasses = await Client.GetFromJsonAsync<Dictionary<string, List<string>>>("DataFiles/trainer_classes.json");
        Variants = await Client.GetFromJsonAsync<Dictionary<string, List<string>>>("DataFiles/variant_map.json");
    }
}