@page "/LevelingData"
<h3>Leveling Data</h3>

<div class="row">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th>Level</th>
            <th>Proficiency</th>
            <th>STAB</th>
            <th>ASI</th>
            <th>EXP</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in LevelingDataList)
        {
            <tr>
                <td>@item.Level</td>
                <td>@item.Proficiency</td>
                <td>@item.SameTypeAttackBonus</td>
                <td>@item.AbilityScoreIncrease</td>
                <td>@item.Experience.ToString("##,###")</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code
{
    [CascadingParameter(Name = "LevelingData")]
    public List<Common.Models.DataClasses.LevelingData> LevelingDataList { get; set; } = null!;
}